video{width: 100%;}

.ant-list-item-meta-title{font-size: 18px;margin-bottom: 7px;}
.videoWrap{background-color: #000;}

/* 추천비디오 목록 */
.sideVideo{padding: 0;}
.sideVideo li{display: flex;margin-bottom: 10px;}
.sideVideo li p{margin-bottom: 0;}
.sideVideo li .img{min-width: 40%;padding-top: 18%;position: relative;background-color: #000;}
.sideVideo li .img img, .sideVideo li .img a{position: absolute;top: 0;right: 0;bottom: 0;left: 0;width: 100%;height: 100%;}
.sideVideo li .txt{width: 60%;margin-left: 10px;font-size: 13px;color: #555;}
.sideVideo li .txt h6{font-size: 14px;font-weight: 500;color: #222;}

.ant-list-item .ant-list-item-meta-description{font-size: 12px;line-height: 1;}
.ant-list-item + .views{padding-left: 47px;margin-top: -7px;font-size: 13px;color: #888;font-weight: 200;}

/* 구독버튼 */
.subscribe{cursor: pointer;background-color: #cc0000;color: #fff;padding: 7px 10px;border-radius: 4px;border: 0;box-sizing: border-box;width: 120px;}
.subscribe.subscribed{background-color: #888;}

/* 좋아요 싫어요 버튼 */
.ant-list-item-action > li:first-child{padding: 0;}
.ic-like{display: inline-block;margin-right: 5px;}
.ic-dislike{display: inline-block;margin-right: 7px;}

/* 타이틀 */
.line-title{font-size: 18px;margin-bottom: 0;margin-top: 15px;}

/* 댓글 */
.singleComment .singleComment .ant-comment-inner{padding: 0 0 5px;}
.reply{margin-top: 20px;padding-top: 20px;border-top: 1px solid #ccc;}
.ant-comment + .reply{margin-left: 42px;margin-bottom: 15px;margin-top: 0;padding-top: 0;border: 0;}
.reply form{display: flex;width: 100%;}
.reply textarea{border: 1px solid #ccc;width: 100%;height: 70px;padding: 10px;background-color: #fff;}
.reply button{border: 1px solid #ccc;border-left: 0;border-radius: 0 2px 2px 0;height: 70px;min-width: 70px;background-color: #f1f1f1;}
.singleComment{padding-left: 30px;}
.comment-list>.singleComment{padding-left: 0;}
.comment-list .ant-comment-actions{margin-top: 6px;margin-bottom: 0;}
.commentNum{padding-left: 42px;cursor: pointer;font-size: 13px;margin-top: -10px;}

.comment-list .btn{display: inline-block;vertical-align: middle;background-color: #fff;padding: 1px 3px;margin-right: 5px;font-size: 11px;border: 1px solid #ccc;border-radius: 2px;}
.comment-list .btn.ic-update{padding-left: 16px;background: #fff url('../../../img/ic-btn-modify.svg') no-repeat left 3px center / 11px;}
.comment-list .btn.ic-del{padding-left: 16px;background: #fff url('../../../img/ic-btn-trash.svg') no-repeat left 3px center / 10px;}
